.button__pallete_color {
  color: #ffffff;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px;

  /* background-color: rgb(29, 87, 194); */
}

.text__custom_color {
  margin-left: 10px;
}
