.header {
  background-color: #eee;
  padding: 20px;
  border-bottom: 1px solid #ddd;
}

.header h4 {
  margin: 0 0 10px 0;
}

.footer {
  background-color: #eee;
  padding: 20px;
  border-top: 1px solid #ddd;
}

.select__theme {
  height: 30px;
  width: 150px;
  padding: 5px;
  outline: none;
}

s

.light {
  background-color: coral;
}

.dark {
  background-color: aqua;
}


